<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="#">
            <div class="mtn-logo">
                <img src="https://seeklogo.com/images/M/MTN-logo-459AAF9482-seeklogo.com.png" height="50px" />
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products & Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help & Support</a>
                </li>

            </ul>
            <app-search></app-search>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-circle carousalCircle"></i>&nbsp; PERSONAL
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>